 Problem 1: Unique Words in a Sentence

In [2]:
sentence = input("Enter sentence:")
sentence = sentence.lower()

#Split sentence into words
words = sentence.split()

#Convert list to set to remove duplicates
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'python', 'powerful', 'easy', 'and', 'is'}

Problem 2: Highest Salary from Employee Data

In [6]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_salary = 0
highest_employee = ""

for name, salary in employees.items():
    if salary > highest_salary:
        highest_salary = salary
        highest_employee = name

print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

Problem 3: Find Maximum and Minimum Values

In [8]:
numbers = [45, 22, 89, 10, 66]

#Initialize max and min with first element
max_value = numbers[0]
min_value = numbers[0]

for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Problem 4: Count Products Above a Price Threshold

In [11]:
prices = [450, 1200, 899, 1500, 300]
count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

Problem 5: Calculate Attendance Percentage

In [14]:
attendance = ["P", "P", "A", "P", "P"]
#To store count of present days
present_count = 0

for day in attendance:
    if day == "P":
        present_count += 1

#Total number of days
total_days = len(attendance)

#Calculate percentage
attendance_percentage = (present_count / total_days) * 100

print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

Problem 6: Remove Duplicate Phone Numbers

In [16]:
phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert list to set to remove duplicates
unique_phone_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_phone_numbers)

Unique phone numbers: {9876543210, 9123456789}

Problem 7: Count Character Frequency

In [18]:
text = "python"

# Empty dictionary to store counts
char_count = {}
#use for loop for looping through each character
for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

Problem 8: Convert List to Tuple

In [19]:
numbers = [10, 20, 30]

# Convert list to tuple
numbers_tuple = tuple(numbers)

print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

Problem 9: Check if a Key Exists in a Dictionary

In [21]:
employees={
    "Kartick": 60000,
    "Rahul": 50000,
    "Shreya": 70000
}

key = "Shreya"

# Check if key exists
if key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

Problem 10: Calculate Average Marks

In [23]:
marks = [65,74,83,92,40]
total = 0

for mark in marks:
    total += mark

# Calculate average
average = total / len(marks)

print("Average Marks:", average)

Average Marks: 70.8